.prioridade-baixa {
  background-color: lightgreen;
}

.prioridade-media {
  background-color: lightyellow;
}

.prioridade-alta {
  background-color: lightcoral;
}

.concluida {
  opacity: 0.6;
  text-decoration: line-through;
}